<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>tinyPortal</display-name>
	<servlet>
		<servlet-name>portal</servlet-name>
		<servlet-class>net.tinyportal.servlet.Portal</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>portlet</servlet-name>
		<servlet-class>net.tinyportal.servlet.Portlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>portal</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>portlet</servlet-name>
		<url-pattern>/portlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>xmppreceiver</servlet-name>
		<servlet-class>net.tinyportal.servlet.XMPPReceiverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>xmppreceiver</servlet-name>
		<url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>portlet</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/portlet</taglib-uri>
			<taglib-location>/WEB-INF/tld/portlet.tld</taglib-location>
		</taglib>
	</jsp-config>
	<context-param>
		<param-name>JSPPortal</param-name>
		<param-value>/WEB-INF/jsp/portal.jsp</param-value>
	</context-param>

</web-app>